.product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-table tbody tr:hover {
    background-color: #e2e2e2;
  }
  