.logins-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ca9d9d;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url('');
}
.logins-container:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('file:///C:/Users/Elango/Downloads/Green%20Bright%20Summer%20Plant%20Leaves%20Desktop%20Wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  
  z-index: -1;
}


.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
}


.logo h2 {
  font-size: 24px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  font-family: cursive;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
.cart-icon-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.carts-icon {
  font-size: 70px;
  margin-bottom: 30px;
  padding-left: 70%;
  color: green;
}

input[type='email'],
input[type='password'] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #f5e7c3;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-size: 16px;
  font-family:cursive;
  color: #333;
}

input[type='email']:focus,
input[type='password']:focus {
  outline: none;
  background-color: #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type='email']:hover,
input[type='password']:hover {
  background-color: #e9e9e9;
}

input[type='email']::placeholder,
input[type='password']::placeholder {
  color: #999;
}

button[type='submit'] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: system-ui;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button[type='submit']:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.social-buttons button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-buttons button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.google-button {
  background-color: #db4437;
  color: #fff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}
.submit{
  background-color: #3b5998;
  color: #fff;
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.facebook-button {
  background-color: #3b5998;
  color: #fff;
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.linkedin-button {
  background-color: #0e76a8;
  color: #fff;
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}




.signup-link a.blink1 {
  animation: blink1-animation 1s infinite;
  padding-left: 320px;
  padding-top: -100px;
}

@keyframes blink1-animation {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
